<html>
    <head>
      <title>Todo List</title>
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <script src="/assets/todo-list.js"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    </head>﻿
    <body>
        <h1>My Todo</h1>
        <div id="todo-table">
            <form method="POST">
                <input type="text" name="item" placeholder="Add new Item ..." required>
                <button type="submit">Add Item</button>
            </form>
            <ul>
                <% for(var i=0; i<data.length; i++){ %>
                    <li><%= data[i].item %></li>
                <% } %>
            </ul>
        </div>
    </body>
</html>
